
<form method="post">

    <div>Name:</div>
    <input type="text" maxlength="25" name="Name"  required />
    <br />
    <div>Price:</div>
    <input type="number" name="Price" required />
    <br />
    <div>Quantity:</div>
    <input type="number" name="Quantity" />
    <br />
    <div>Description:</div>
    <input type="text" maxlength="150" name="Description" />
    <br />
    <br />
    <input type="submit" />
</form>